
DOMAIN=matrix.votre-domaine.com
SYNAPSE_SERVER_NAME=matrix.votre-domaine.com

POSTGRES_DB=synapse
POSTGRES_USER=synapse_user
POSTGRES_PASSWORD=CHANGEZ_MOI_mot_de_passe_postgres_super_fort_$(openssl rand -hex 16)


REDIS_PASSWORD=CHANGEZ_MOI_mot_de_passe_redis_super_fort_$(openssl rand -hex 16)

TURN_SECRET=CHANGEZ_MOI_$(openssl rand -hex 32)
REGISTRATION_SHARED_SECRET=CHANGEZ_MOI_$(openssl rand -hex 32)

SMTP_HOST=smtp.votre-domaine.com
SMTP_PORT=587
SMTP_USER=noreply@votre-domaine.com
SMTP_PASSWORD=CHANGEZ_MOI_mot_de_passe_email

PROMETHEUS_PASSWORD=CHANGEZ_MOI_$(openssl rand -base64 16)

TRAEFIK_DASHBOARD_USER=admin

TRAEFIK_DASHBOARD_PASSWORD_HASH=$2y$10$sN6CgTnhkSoF5Q5RlG.xAOmQRQnxjz8cRmXKfFvJGgBhRr7lVsQ3q

TZ=Europe/Paris
SYNAPSE_VERSION=latest

